@import url('https://fonts.googleapis.com/css2?family=Karla');

/* The body class targets the <body> tag in your html file */
body {
    background-color: rgb(227, 219, 216);
    font-family: "Karla", sans-serif;
    margin: 0;
}

/* . means class name */
.red-text {
    color: red
}

/* The following classes are used to style the corresponding html classes */
.menu {
    padding: 40px;
    background-color: #000000;
    color: #dcdcdc;
    font-size: 16px;
    position: sticky;
    top: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    align-items: center;
    justify-items: center;
}

.menu a {
    text-decoration: none;
    background-color: #000000;
    color: #d4d4d4;
}

.content {
    display: flex;
    border: 20px;
}

.imgme {
    border: 60px solid #653535;
    align-content: "left"
  }